<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ person.name }}</title>
</head>
<body>
<h1>{{ person.name }}</h1>

<h3>Информация:</h3>
<ul>
    <li>height: {{ person.height }}</li>
    <li>mass: {{ person.mass }}</li>
    <li>hair_color: {{ person.hair_color }}</li>
    <li>skin_color: {{ person.skin_color }}</li>
    <li>eye_color: {{ person.eye_color }}</li>
    <li>birth_year: {{ person.birth_year }}</li>
    <li>gender: {{ person.gender }}</li>
</ul>

<h3>Корабли</h3>
{% if starships %}
    <ul>
        {% for starship in starships %}
            <li><a href="{% url 'show_starship' starship.name %}">{{ starship.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>У персонажа нет кораблей</p>
{% endif %}

<h3><a href="{% url 'main_page' %}">Вернуться на главную страницу</a></h3>
</body>
</html>

